// Brand colors
$brand-primary: #14979A;

// State colors
$red: #FF0000;
$green: #00FF00;
$blue: #0000FF;
$yellow: #FFFF00;
$rose: #fc7c80;

// Neutral colors
$white: #ffffff;
$black: #000000;


// Grayscale
$gray: #808080;
$gray-dark: darken($gray, 0%);
$gray-light: lighten($gray, 0%);
$gray-lighter: lighten($gray, 0%);


// UI colors
$text-color: $gray;
