// Forms
.form {

  &-group {}

  &-group-clean {
    margin: 0;
  }

  &-control {

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {}

    .error.has-error & {
      border-color: $red;
    }

    &[readonly] {}

    &.hasDatepicker {
      background-size: 32px 30px;
      background-position: 20px 50%;
      background-image: url("../media/app/datepicker.svg") !important;

      &::placeholder {}

    }

  }

  &-label {
    display: block;
    margin-bottom: .2rem;
  }

}

.form-error {

  &-wrapper {}

  &-message {
    color: $red;
  }

}
