.preformat {
  color: $text-color;
  
  &,
  a,
  p,
  li,
  blockquote {
    line-height: 1.6;
  }

  ul,
  ol {
    margin: 0 0 1em;
    list-style-position: inside;
  }

  ul {
    list-style-type: none;

    > li {
      position: relative;
      padding-left: 1.4em;

      &:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 3px;
        height: 3px;
        margin: auto 0;
        background-color: $text-color;
        border-radius: 10px;
      }

    }

  }

  ol {
    padding-left: 0;
    list-style-type: decimal;

    ol {
      padding-left: 1em;
      margin-top: 1em;
    }

  }

  a {
    color: $blue;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: lighten($blue, 10%);
      text-decoration: none;
    }

  }

  em {
    font-style: italic;
  }

  blockquote {
    display: inline-block;
    position: relative;
    margin: 1em 0 1.94em;
    padding: 0 25px;
    font-size: 1.12em;
    font-style: italic;

    &:before,
    &:after {
      content: '';
      background-repeat: no-repeat;
      background-size: 17px 15px;
      width: 17px;
      height: 15px;
      position: absolute;
    }

  }

  p {
    margin: 0 0 1em;
  }

  h1, h2, h3,
  h4, h5, h6 {
    font-size: 1.1em;
    margin: .8em 0 0.4em;
    color: $text-color;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-spacing: 0;

    tr td {
      border: 1px solid #999;
      border-top: 0;
      border-left: 0;
      padding: 0.5em 1em;
    }

  }

  iframe {
    max-width: 100%;
  }

}
