// Homepage
.p-homepage {
}
.home-header {
  position: relative;
}
.home-header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(40,40,40,0.5);
  flex-direction: column;
}
.header_img {
  width: 100%;
  min-height: 300px;
}

.content {
  min-height: 600px;
}
.empty-content {
  min-height: 300px;
}

.more-btn {
  background-color: transparent;
  border: 1px solid #DDD;
  border-radius: 0;
  padding: 12px 30px;
  font-size: 12px;
  color: #DDD;
  margin-top: 60px;
}
.white-text {
  color:#FAFAFA;
}
.lightgray-text {
  color:#DDD;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smaller-text {
  font-size: 11px;
  line-height: 16px;
}
.bold {
  font-weight: bold;
}
.ligth-weight {
  font-weight: 200;
}
.max-250 {
  max-width: 300px;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.title-container {
  max-width: 1140px;
  margin: 0 auto;
}
.page-title {
  margin: 50px 20px 20px 0;
}
.title_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid $rose;
  margin: 1em 0;
  padding: 0;
  width: 100px;
}

.properties-home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
  margin-bottom: 40px;
  .left, .right {
    display: flex;
    flex: 1;
    max-width: 48%;
  }
  .left {
    margin-right: 2%;
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 2%;
    flex-direction: row;
    .property {
      width: 48%;
      margin-right: 2%;
      margin-bottom: 30px;
      .price {
        right: 10px;
      }
    }
  }
}